* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root
{
    --black: #000000;
    --night-blue: #14213d;
    --yellow: #fca311;
    --bege: #e5e5e5;
    --white: #FFF;
}

header {
    background-color: var(--night-blue);
    font-weight: bold;
    color: var(--white);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

div.primeira {

  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
}
div.primeira img {
  width: 20rem;
}
div.primeira p {
  width: 20rem;
}

div.segunda {
  background-color: var(--yellow);
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
div.segunda img{
  width: 20rem;
}
div.segunda p {
  width: 20rem;
}

div.terceira img {
  width: 20rem;
  margin-right: 1rem;
}
div.terceira{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}



